@import '~react-md/src/scss/react-md';

$md-primary-color:#03a9f4;



.Grid {
	border: 0px;
}

// .GridItem {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	background-color: #f8f8f0;
// }

.ui.card {
	margin: 3em !important;
	// box-shadow: 6px 6px 20px 0px rgba(161,158,161,1) !important;
}

.multiFields__addBtn {
	width: 100%;
	height: auto;
	margin-top: 1em;
	box-shadow: none;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 8px 16px;
	min-height: unset;
	border-radius: .25em;
	background-color: transparent;
	border: 2px dashed $md-primary-color;


	.md-icon {
		color: darken($md-primary-color,10%);
	}
	.md-icon-text {
		width: auto;

		flex-grow: 0;
		flex-shrink: 0;
	}

	&:hover {
		background-color: rgba($md-primary-color,.25) !important;

		.md-icon-separator:before {
			opacity: 1;
			transform: scale(2);
		}

		.md-icon ,
		.md-icon-text {
			color: #FFF;
		}

	}
}


.rv-list {
	border: 1px solid black;
	box-sizing: border-box;
}

.rv-row {
	width: 100%;
	height: 100%;
	border-bottom: 0;
	display: flex;
	flex-direction: row;

	padding: 0 0.5rem;
	box-sizing: border-box;
}

.rv-item {

	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

@include react-md-everything;
